## User settings
xcuserdata/

# fastlane
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

## DS_Store
*.DS_Store
.DS_Store
SpaceShooter/.DS_Store

SpaceShooter.xcodeproj/project.xcworkspace/xcuserdata/lucaspereira.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate

